.itemStyle {
  width: 100%;
}

.postStyle {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
}

.contentStyle {
  flex-grow: 1;
}

.dateStyle {
  padding: 1rem 0 1rem 2rem;
  flex-shrink: 0;
}