services:
  nick-site:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile.prod
    restart: always
    ports:
      - '${PORT}:${PORT}'
  postgresql:
    env_file:
      - .env
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: $DATABASE_PASSWORD
      POSTGRES_USER: root
      POSTGRES_DB: nick_dot_ng
    volumes:
      - ./volumes/postgresql:/var/lib/postgresql/data/
  redis:
    image: redis:alpine
    restart: always
    volumes:
      - ./volumes/redis:/data
