.pokemonCard {
    padding: 5px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8em;
}

.evSpreadContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 5px;
}

.evSpreadColumn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.evSpreadColumn.fullHeight {
    min-height: 90vh;
    height: auto;
}

.evSpreadColumn p {
    font-size: 0.8em;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.buttonRow button {
    flex-grow: 1;
}

table.damageResult {
    border-collapse: collapse;
    font-size: 0.9em;
}

.damageResult th,
.damageResult td {
    text-align: right;
    border: 1px solid grey;
    padding: 1px 5px;
}

th.left,
td.left {
    text-align: left;
}

.yourInput {
    flex-basis: 300px;
}

.opponentInput {
    flex-grow: 1;
}

.sortControls {
    border: 1px solid grey;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 5px;
}

.sortControls .sortControl {
    display: flex;
    flex-direction: row;
    align-items: center;
}
