.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    width: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.picture {
    width: 100%;
}
