.appStyle {
  padding: 0 10%;
}

.heading {
  font-size: 3rem;
  text-align: center;
}

.mainStyle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navStyle {
  order: 1;
  flex-grow: 0;
  width: 8rem;
  padding: 0 1rem;
}

.contentStyle {
  order: 2;
  width: 80%;
}

:global(body) {
  background-color: white;
}
