.appStyle {
  padding: 0 10%;
}

.heading {
  font-size: 3rem;
  text-align: center;
}

.mainStyle {
  display: flex;
  align-items: flex-start;
}

.navStyle {
  order: 1;
  flex-grow: 1;
  flex-basis: 8rem;
  padding: 0 1rem;
}

.contentStyle {
  order: 2;
  flex-grow: 100;
}

:global(body) {
  background-color: beige;
}
