.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnailGrid {
    width: 99vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 5px 5px;
}

.thumbnailGrid img {
    display: block;
}