.container {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Phone */
@media screen and (max-device-width: 1280px) {
    .container {
        display: none;
        width: 35px;
        font-weight: normal;
        font-size: 12px;
    }
}
