@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.fadeInOut {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: fadeInOut;
}
