.navContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #EEEEEE;
    min-height: 100vh;
}

.navLink {
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
}

.activeNavLink {
    font-weight: bold;
}

.navEmoji {
    display: none;
}

/* Phone */
@media screen and (max-device-width: 750px) {
    .navEmoji {
        display: inline;
        margin-right: 5px;
        font-size: 32px;
    }

    .navText {
        display: none;
    }
}
