.navContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #eeeeee;
    min-height: 100vh;
}

.navLink {
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
}

.activeNavLink {
    font-weight: bold;
}

.navIcon {
    display: inline;
    margin-right: 5px;
}

/* Phone */
@media screen and (max-device-width: 750px) {
    .navIcon {
        font-size: 28px;
        margin-right: 0;
    }
    .navText {
        display: none;
    }
}
