.postStyle {
}

.editingStyle {
  border: 1px solid;
  margin: 7px 0;
  padding: 7px 2px;
  background-color: white;
  min-height: 100px;
  cursor: text;
}

.buttonStyle {
  margin: 2px;
  width: 2rem;
}
